* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --nav-heigth: 6rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: #F4EEF7;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--cor-3, #606062);
  padding: 1.1rem 0 .7rem;
  z-index: 2;
}

#main-page {
  background-image: url("./assets/images/bg-main-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 70rem;
  margin-top: 30px; /* Altura do cabeçalho */
  position: relative;
  z-index: 1; /* Certifique-se de que o conteúdo esteja acima do cabeçalho */
}

#navigation .navigation-mobile {
  position: fixed;
  width: 100vw;
  padding-top: 1.8rem;
}


header p {
  color: var(--cor-5, #FFFAFA);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigation-mobile {
  background-color: transparent;
  padding: 1.8rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr auto; /* Divide a linha em uma parte flexível e outra auto */
  align-items: center;
}

#navigation .navigation-mobile .logo {
  display: flex;
  justify-content: center;
}

#navigation .navigation-mobile  .logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

#navigation .navigation-mobile .btns-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.open-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.4s;
}

.open-menu .bar {
  display: block;
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 7px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.nav-desktop {
  display: none;
}

.menu-navigation {
  position: fixed;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: right 0.3s ease;
  padding-top: 2.5rem;
  background: black; 
  z-index: 10;
}

#navigation .menu-navigation .btns-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
}

.menu-navigation .btns-menu .open-menu span {
  color: #FFFAFA;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

.menu-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 3rem;

}

.menu-navigation ul li a {
  color: #FFFAFA;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-navigation .social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 8rem 0 20rem

}

.menu-navigation.open {
  right: 0;
}

#home .wrapper  {
  padding: 0 1.5rem;
}

#home .wrapper h1 {
  color: var(--cor-5, #FFFAFA);
  font-family: Sora;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 4.5rem */
  letter-spacing: 0.24rem;
  padding-top: 45rem;
  max-width: 30.5rem;
}

#home .wrapper p {
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 29.7rem;
}

#home .wrapper p span {
  font-weight: 600;
}

#brands .wrapper .header {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

#brands .wrapper .header p {
  color: var(--cor-3, #606062);
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 2.73rem */
}

#brands .wrapper .main-carousel,
#brands .wrapper .secondary-carousel {
  width: 100%; /* Defina o tamanho desejado */
  margin: 0 auto;
}

#brands .wrapper .main-carousel .carousel-cell,
#brands .wrapper .secondary-carousel .carousel-cell{
  height: 10rem;
  padding: 0 1.6rem;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center; /* Centraliza o conteúdo de texto */
}

#brands .wrapper .main-carousel .carousel-cell img,
#brands .wrapper .secondary-carousel .carousel-cell img {
  max-width: 100%;
  height: auto;
}

#brands .wrapper .button {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

#brands .wrapper .button a {
  border: solid .5px #606062;
  padding: .9rem 3.5rem;
  border-radius: 1000px;

  color: var(--cor-3, #606062);
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}

#tecnologie {
  background-image: url("./assets/images/bg-tecnologie.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
}


#tecnologie .wrapper {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tecnologie .wrapper .header h1 {
  color: #FFFAFA;
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 3rem;
}

#tecnologie .wrapper .head {
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.3px;
  margin-bottom: 1.5rem;
}

#tecnologie .wrapper .head span {
  font-weight: 600;
}

#tecnologie .wrapper .content p {
  margin-bottom: 1.5rem;
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

#tecnologie .wrapper .button button {
  padding: 4rem 0;
}

#tecnologie .wrapper .button a {
color: #FFFAFA;
text-align: center;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 100;
line-height: 130%;
border-radius: 2rem;
border: 1px solid var(--cor-5, #FFFAFA);
padding: .9rem 3.8rem;
}

#tecnologie .wrapper .regulamento {
  color: var(--cor-5, #FFFAFA);
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

#about .wrapper {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about .wrapper .header h1 {
  color: var(--cor-3, #606062);
  font-family: Sora;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.5px */
  letter-spacing: 1.68px;
}

#about .wrapper .about-carousel {
  width: 100%; /* Defina o tamanho desejado */
  margin: 0 auto;
}

#about .wrapper .about-carousel .carousel-cell {
  height: 10rem;
  padding: 0 1.6rem;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center; /* Centraliza o conteúdo de texto */
}

#about .wrapper .about-carousel .carousel-cell img {
  max-width: 100%;
  height: auto;
}