* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-size: 1.6rem;
  background-color: #F4EEF7;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--cor-3, #606062);
  padding: 1.1rem 0 .7rem;
  z-index: 2;
  transition: transform 0.3s; /* Adiciona uma transição suave na propriedade transform */
  transform: translateY(0); /* Começa com translateY(0) para que o cabeçalho seja visível */
}

.header-hidden {
  transform: translateY(-100%); /* Move o cabeçalho para cima, fora da tela */
}

.navigation-mobile-hidden {
  transform: translateY(-150%); /* Move o cabeçalho para cima, fora da tela */
}

#main-page {
  background-image: url("./assets/images/bg-main-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 70rem;
  margin-top: 30px; 
  position: relative;
  z-index: 1; 
}

header p {
  color: var(--cor-5, #FFFAFA);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigation-mobile {
  position: fixed;
  width: 100vw;
  padding-top: 1.8rem;
  background-color: transparent;
  padding: 1.8rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: center;
  transition: transform 0.3s; /* Adiciona uma transição suave na propriedade transform */
}

.navigation--scroll {
  background-color: var(--cor-3, #000000);
  opacity: 0.6;
}

#navigation .navigation-mobile .logo {
  display: flex;
  justify-content: center;
}

#navigation .navigation-mobile  .logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

#navigation .navigation-mobile .btns-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.open-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.4s;
}

.open-menu .bar {
  display: block;
  width: 25px;
  height: 1px;
  background-color: white;
  margin: 7px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.nav-desktop {
  display: none;
}

.menu-navigation {
  position: fixed;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: right 0.3s ease;
  padding-top: 2.5rem;
  background: black; 
  z-index: 10;
}

#navigation .menu-navigation .btns-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
}

.menu-navigation .btns-menu .open-menu span {
  color: #FFFAFA;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
}

.menu-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 3rem;

}

.menu-navigation ul li a {
  color: #FFFAFA;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-navigation .social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 8rem 0 20rem

}

.menu-navigation.open {
  right: 0;
}

#home .wrapper  {
  padding: 0 1.5rem;
}

#home .wrapper h1 {
  color: var(--cor-5, #FFFAFA);
  font-family: Sora;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; 
  letter-spacing: 0.24rem;
  padding-top: 45rem;
  max-width: 30.5rem;
}

#home .wrapper p {
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 29.7rem;
}

#home .wrapper p span {
  font-weight: 600;
}

#brands .wrapper .header {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

#brands .wrapper .header p {
  color: var(--cor-3, #606062);
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

#brands .wrapper .desktop-carousel {
  display: none;
}

#brands .wrapper .main-carousel,
#brands .wrapper .secondary-carousel {
  width: 100%; 
  margin: 0 auto;
}

#brands .wrapper .main-carousel .carousel-cell,
#brands .wrapper .secondary-carousel .carousel-cell{
  height: 10rem;
  padding: 0 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
}

#brands .wrapper .main-carousel .carousel-cell img,
#brands .wrapper .secondary-carousel .carousel-cell img {
  max-width: 100%;
  height: auto;
}

#brands .wrapper .button {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

#brands .wrapper .button a {
  border: solid .5px #606062;
  padding: .9rem 3.5rem;
  border-radius: 1000px;

  color: var(--cor-3, #606062);
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}

#technologie {
  background-image: url("./assets/images/bg-technologie.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
}


#technologie .wrapper {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#technologie .wrapper .header h1 {
  color: #FFFAFA;
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 3rem;
}

#technologie .wrapper .content .head {
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.3px;
  margin-bottom: 1.5rem;
}

#technologie .wrapper .head span {
  font-weight: 600;
}

#technologie .wrapper .content p {
  margin-bottom: 1.5rem;
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

#technologie .wrapper .button button {
  padding: 4rem 0;
}

#technologie .wrapper .button a {
color: #FFFAFA;
text-align: center;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 100;
line-height: 130%;
border-radius: 2rem;
border: 1px solid var(--cor-5, #FFFAFA);
padding: .9rem 3.8rem;
}

#technologie .wrapper .regulamento {
  color: var(--cor-5, #FFFAFA);
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

#about .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#about .wrapper .header h1 {
  color: var(--cor-3, #606062);
  font-family: Sora;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.68px;
  padding-top: 3rem;
}

#about .wrapper .content .head {
  color: var(--cor-3, #606062);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 1rem;
}

#about .wrapper .content p {
  color: var(--cor-3, #606062);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; 
  padding-bottom: .7rem;
  padding: 0 1.5rem .7rem;
}

#about .wrapper .about-carousel {
  width: 100%; 
  margin: 0 auto;
  padding: 3rem 0 6rem;
}

#about .wrapper .about-carousel .carousel-cell {
  height: 10rem;
  padding: 0 1.6rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

#about .wrapper .about-carousel .carousel-cell img {
  max-width: 100%;
  height: 100%;
}

#about .wrapper .button {
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
}

#about .wrapper .button a {
  border: solid .5px #606062;
  padding: .9rem 3.5rem;
  border-radius: 1000px;

  color: var(--cor-3, #606062);
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}

#carousel .carousel-desktop {
  display: none;
}

#carousel .carousel-mobile {
  width: 100%; 
  height: 100vh;
}



#carousel .carousel-mobile .carousel-cell .content {
  padding: 3rem 1.5rem;
}

#carousel .carousel-mobile .carousel-cell .content h1 {
  color: var(--cor-5, #FFFAFA);
  font-family: Sora;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  max-width: 29.3rem;
}

#carousel .carousel-mobile .carousel-cell .content p {
  color: var(--cor-5, #FFFAFA);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#carousel .carousel-mobile .carousel-cell:nth-child(1) {
  background-image: url("./assets/images/bg-carousel.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

#carousel .carousel-mobile .carousel-cell:nth-child(2) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  background-image: url("./assets/images/carousel-img01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#carousel .carousel-mobile .carousel-cell:nth-child(2) .content h1 {
  color: var(--cor-5, #FFFAFA);
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 3.6rem .5rem 1rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(2) .content p {
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 .5rem .8rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(3) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

#carousel .carousel-mobile .carousel-cell:nth-child(3) .content h1 {
  color: var(--cor-3, #606062);
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 3.6rem .5rem 1rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(3) .content p {
  color: var(--cor-3, #606062);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 .5rem .8rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(3) .labs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 3.2rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(3) .labs img:nth-child(3),
#carousel .carousel-mobile .carousel-cell:nth-child(3) .labs img:nth-child(4) {
  justify-self: flex-end;
  padding-right: 40px;
}

#carousel .carousel-mobile .carousel-cell:nth-child(3) .labs img:nth-child(1),
#carousel .carousel-mobile .carousel-cell:nth-child(3) .labs img:nth-child(2) {
  justify-self: flex-start;
  padding-left: 40px;
}

#carousel .carousel-mobile .carousel-cell:nth-child(4) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/bg-facetadora.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#carousel .carousel-mobile .carousel-cell:nth-child(4) .content h1 {
  color: var(--cor-5, #FFFAFA);
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 3.6rem .5rem 1rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(4) .content p {
  color: var(--cor-5, #FFFAFA);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 .5rem .8rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(5) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

#carousel .carousel-mobile .carousel-cell:nth-child(5) .content h1 {
  color: var(--cor-3, #606062);
  font-family: Sora;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 3.6rem .5rem 1rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(5) .content p {
  color: var(--cor-3, #606062);
  text-align: justify;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0 .5rem .8rem;
}

#carousel .carousel-mobile .carousel-cell:nth-child(5) .content img {
  width: 100%;
  margin: 2.4rem auto;
}

#footer {
  background: var(--cor-3, #606062);
}

#footer .wrapper {
  padding: 6rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#footer .wrapper h1 {
  text-align: center;
  color: var(--cor-5, #FFFAFA);
  text-align: center;
  font-family: Sora;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#footer .wrapper .social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 4.4rem 0 9.6rem;
}

#footer .wrapper footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#footer .wrapper footer p {
  color: var(--cor-5, #FFFAFA);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

#footer .wrapper footer span {
  color: var(--cor-5, #FFFAFA);
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.8rem */
}

#footer .wrapper footer span a {
  color: var(--cor-5, #FFFAFA);
}

@media (min-width: 770px) {
  .navigation-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between; /* Isso cria espaço entre os elementos */
    align-items: center; /* Isso centraliza verticalmente os elementos */
  }
  
  .logo {
    /* Estilos para a div à esquerda (logo) */
    flex: 0; /* Impede que a div da logo ocupe todo o espaço disponível */
    padding: .3rem 0 0 8rem;
  }
  
  .menu-desktop{
    /* Estilos para a div no meio (menu) */
    flex: 1; /* Permite que a div do menu ocupe o espaço restante no centro */
    text-align: center; /* Isso alinhará o conteúdo do menu no centro horizontalmente */
    padding-right: 20rem;
  }

  .menu-desktop ul {
    display: inline-flex;
    gap: 1.5rem;
  }

  .menu-desktop ul li a {
    color: var(--cor-5, #FFFAFA);
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }

  .menu-desktop ul li a:hover {
    font-weight: 600;
  }

  #main-page {
    background-image: url("./assets/images/bg-main-page-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 76.8rem;
    margin-top: 30px; 
    position: relative;
    z-index: 1; 
  }

  #home .wrapper {
    padding: 0 8rem;
  }

  #home .wrapper h1 {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 75px */
    letter-spacing: .4rem;  
    max-width: 38.4rem;        
    padding-top: 15rem;
  }

  #home .wrapper p {
    font-family: Inter;
    font-size: 2.1rem;
    max-width: 37rem;
  }

  #brands .wrapper .main-carousel,
  #brands .wrapper .secondary-carousel {
    display: none;
  }

  #brands .wrapper .desktop-carousel {
    display: inline-block;
  }

  #brands .wrapper .desktop-carousel .carousel-cell {
    height: 15rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
  }

  #brands .wrapper .desktop-carousel .carousel-cell img {
    width: 100%;
    height: auto;
  }

  #brands .wrapper .header {
    margin: 4rem 0;
  }
  
  #brands .wrapper .header p {
    font-size: 3.6rem;
  }

  #brands .wrapper .button {
    margin: 4rem 0;
  }
  
  #brands .wrapper .button a {
    padding: 1.4rem 2.6rem 1rem 2.7rem;
    border-radius: 2rem;
    font-size: 2rem;
    background-image: linear-gradient(to right, #606062 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s, color 0.3s;
  }

  #brands .wrapper .button button a:hover {
    background-position: left bottom;
    color: white;
  }

  #technologie {
    background-image: url("./assets/images/bg-tecnologie-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 76.8rem;
    width: 100%;
  }

  #technologie .wrapper {
    margin: 0 auto;
    padding: 0 19rem;
  }

  #technologie .wrapper .header h1 {
    font-size: 3.6rem;
    line-height: 120%;
    margin-bottom: 4rem;
  }

  #technologie .wrapper .content .head {  
    text-align: justify;    
    font-size: 2.5rem;        
  }

  #technologie .wrapper .content p {
    text-align: justify;
    font-size: 2.1rem;
    line-height: 120%; 
    padding-bottom: 5px;
  }

  #technologie .wrapper  .content span {
    font-weight: 600;
  }

  #technologie .wrapper .button button a {
    padding: 14px 34px 10px 35px;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 100;
  }

  #technologie .wrapper .regulamento {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  #about .wrapper {
    padding: 8rem 0;
  }

  #about .wrapper .header h1 {  
    font-size: 3.6rem;
    padding: 0;
  }

  #about .wrapper .content .head {
    text-align: center;
    font-size: 2.5rem;
    padding: 4rem 0 2rem;
  }

  #about .wrapper .content p {
    max-width: 97.2rem;
    font-size: 2.1rem;
    padding: .8rem 0 0;
  }

  #about .wrapper .about-carousel {
    width: 100%; 
    margin: 0 auto;
    padding: 8rem 0;
  }
  
  #about .wrapper .about-carousel .carousel-cell {
    height: 28rem;
    padding: 0 1.6rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }
  
  #about .wrapper .about-carousel .carousel-cell img {
    width: 265px;
    height: 265px;
  }
  
  #about .wrapper .button a {
    padding: 1.4rem 2.6rem 1.0rem 2.7rem;
    border-radius: 2rem;
  
    font-size: 2rem;
    background-image: linear-gradient(to right, #606062 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s, color 0.3s;
  }

  #about .wrapper .button button a:hover {
    background-position: left bottom;
    color: white;
  }

  #carousel .carousel-mobile {
    display: none;
  }

  #carousel .carousel-desktop {
    display: block;
    width: 100%; 
    height: 1094px;
  }

  #carousel .carousel-desktop .carousel-cell .content {
    padding: 8rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(1) .content h1 {
    font-size: 3.6rem;
    max-width: 45rem;
    color: var(--cor-5, #FFFAFA);
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 45rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(1) .content p {
    font-size: 2.1rem;
    color: var(--cor-5, #FFFAFA);
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(1) {
    background-image: url("./assets/images/bg-carousel-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  #carousel .carousel-desktop .carousel-cell:nth-child(2) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(2) .content h1 {
    font-size: 5rem;
    padding: 0 0 4rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(2) .content p {
    font-size: 3rem;
    padding: 0 0 .8rem;
    max-width: 97.2rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(2) .images {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    gap: .3rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(2) .images img {
    width: 349px;
    height: 320px;
    border-radius: 1px;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(3) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(3) .content h1 {
    color: var(--cor-3, #606062);
    font-family: Sora;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 3.6rem 2rem 1rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(3) .content p {
    color: var(--cor-3, #606062);
    text-align: justify;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 2rem .8rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(3) .labs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(4) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(4) .content h1 {
    color: var(--cor-3, #606062);
    font-family: Sora;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 3.6rem 2rem 1rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(4) .content p {
    color: var(--cor-3, #606062);
    text-align: justify;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 2rem .8rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(4) .content .images {
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
    gap: .3rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(5) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(5) .content h1 {
    color: var(--cor-3, #606062);
    font-family: Sora;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 3.6rem 2rem 1rem;
  }
  
  #carousel .carousel-desktop .carousel-cell:nth-child(5) .content p {
    color: var(--cor-3, #606062);
    text-align: justify;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 2rem .8rem;
  }












}